/* ---------Lounger Section --------- */

header #logo{
    background: url(/img/section-voyager.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 55%;
    z-index: 0;
    position: absolute;
}

aside{
    top: 10rem;
}

#text{
    position: relative;
    width: 40vw;
    left: 55%;
    top: 10rem;
    line-height: 1.5rem;
    padding: 2rem 6rem 0 0;
    font-size: var(--font-size-standard);
    margin: 2rem;
}

.lounger h2{
    margin: 0 0 8rem 0;
    font-size: 2.5rem;
}

