/* ---------Lounger Section --------- */

body{
    max-height: 100vh;
}

header{
    background-color: white;
}

header ul{
    background-color: var(--dark-color);
    width: 45vw;
}

header #logo{
    background: url(/img/section-voyager.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
    width: 55vw;
    z-index: 0;
    position: absolute;
}

aside{
    top: 10rem;
}

section{
    background-color: white;
    align-items: right;
}

#text {
    position: relative;
    left: 55vw;
    width: 45vw;
    /* z-index: 99; */
    height: 90vh;
    background-color: var(--dark-color);
    line-height: 1.5rem;
    padding: 8rem 9rem 0 2rem;
    font-size: var(--font-size-standard);
}

.lounger h2{
    margin: 0 0 6rem 0;
    font-size: 2.5rem;
}

